body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    height: 58px;
}
.container {
    max-width: 1270px;
    margin: auto;
}
.topbar-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 110px;
}
.hero {

}
.main {

}
.footer {

}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}