* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
.topbar {
    background-color: #2C3E50;
    height: 58px;
}
.container {
    max-width: 1150px;
    margin: auto;
}
.topbar-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 58px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 100px;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
.btn {
    display: inline-block;
    background-color: #cccccc;
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px 20px;
}
.btn.btn-sm {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
}
.btn.btn-orange {
    background-color: #FF7518;
    color: white;
}
.btn.btn-orange:hover {
    background-color: #EE6509;
}
.icon-sm {
    font-size: 10px;
}
.topmenu {
    text-align: right;
}
.topmenu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: relative;
}
.topmenu ul li {
    display: inline-block;
}
.topmenu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 17px 15px 17px 15px;
    font-size: 18px;
}
.topmenu ul li a:hover {
    background-color: black;
}
.topmenu ul ul {
    display: none;
    position: absolute;
}
.topmenu li:hover ul {
    display: block;
    width: 200px;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.topmenu li:hover a {
    background-color: black;
}
.topmenu li:hover ul li {
    display: block;
}
.topmenu li:hover ul li a {
    background-color: #eeeeee;
    color: #333333;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    text-align: left;
}
.topmenu li:hover ul li a:hover {
    background-color: #2780E3;
    color: white;
}
.hero {

}
.main {

}
.footer {

}