body {
    background-color: #E5E9EC;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu-area {
    max-width: 300px;
    height: 800px;
    margin: 20px;
    background-color: #F9FAFC;
    padding: 10px;
    box-sizing: border-box;
}
.vertical-menu {

}
.vertical-menu ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.vertical-menu ul li {

}
.vertical-menu ul li a {
    display: block;
    text-decoration: none;
    color: #121826;
    padding: 10px 20px 10px 20px;

}
.vertical-menu ul li a:hover {
    background-color: #121826;
    color: white;
    border-radius: 5px;
}